In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

# 400 meter coordinate accuracy
# 1923 earliest year

In [2]:
# read in us_plants_full_essential
df_path = input("Enter the file path: ")

df = pd.read_parquet(df_path)

In [3]:
# find na values in df
species_na = df["Scientific Name"].isna().sum()

unique_na = df["unique_id"].isna().sum()

In [ ]:
# drop rows in df where species, unique_id is NA
df.dropna(subset=["species", "unique_id"], inplace=True)

In [3]:
# convert column names
df.rename(
    columns={
        "Scientific Name": "species",
        "Plant Type": "species_type",
        "Common Name": "common_name",
        "Plant Family": "family",
    },
    inplace=True,
)

In [4]:
species_unique = df.species.unique()

In [5]:
species_values = np.array([len(word.split()) for word in species_unique])

# find the max value in species_values
max_value = np.max(species_values)

In [6]:
# if value at index i in species_values is greater than 2, add the value at the same index in species_unique to a new list
species_2 = []
for i in range(len(species_values)):
    if species_values[i] > 2:
        species_2.append(species_unique[i])

In [7]:
# remove the rows in df that contain the values in species_2
df = df[~df.species.isin(species_2)]

In [8]:
# recheck
species_unique = df["species"].unique()

In [9]:
species_values = np.array([len(word.split()) for word in species_unique])


max_value = np.max(species_values)

In [10]:
# remove the rows in df where df.species equals ×Elyhordeum schaackianum or ×Elyleymus aleuticus

df = df[~df.species.isin(["×Elyhordeum schaackianum", "×Elyleymus aleuticus"])]

In [11]:
# find unique values of species_type
species_type_unique = df["species_type"].unique()

In [12]:
# replace df.species_type values of Tree or Shrub with tree_shrub
df["species_type"].replace(["Tree", "Shrub"], "tree_shrub", inplace=True)

In [14]:
df["species_type"].replace(["Fern", "Fern Ally"], "other_plants", inplace=True)

df["species_type"].replace("Wildflower", "wildflower", inplace=True)

df["species_type"].replace("Vine", "vine", inplace=True)

df["species_type"].replace("Graminoid", "graminoid", inplace=True)

In [15]:
# recheck
species_type_unique = df["species_type"].unique()

In [17]:
# read cleaned df into a parquet file where user can input the file path
df_path = input("Enter the file path: ")
df.to_parquet(df_path)