In [1]:
# compare species lists from different sources to see overlap and which ones to use where.

import geopandas as gpd

import rioxarray
import xarray as xr

import pandas as pd

In [2]:
# read csv to variable little

little = pd.read_csv(
    "/media/muskrat/T7 Shield/eco_data/v3/native/little/7445016/wpetry/USTreeAtlas-v1.0/wpetry-USTreeAtlas-4999258/Little_datatable.csv"
)

In [ ]:
little.head()

In [3]:
jann = pd.read_csv(
    "/media/muskrat/T7 Shield/eco_data/v3/native/Jann/basic-extract/metadata_default.csv"
)

In [ ]:
jann.head()

In [5]:
zip = "/media/muskrat/T7 Shield/eco_data/v3/native/IUCN/MAMMALS.zip"

iucn = gpd.read_file(zip)

In [ ]:
iucn.head()

In [4]:
gap = pd.read_csv(
    "/media/muskrat/T7 Shield/eco_data/v3/native/GAP/U_S_GeologicalS (1)/ScienceBaseHabMapCSV_20190410.csv"
)

In [ ]:
gap.head()

In [6]:
# create new dataframe with a column for sci_name from iucn, a Latin Name from little, and scientificname from jann

df = pd.DataFrame(
    {
        "iucn": iucn["sci_name"],
        "little": little["Latin Name"],
        "jann": jann["scientificname"],
        "gap": gap["scientific_name"],
    }
)
df.head()

,iucn,little,jann,gap
0,Sphaerias blanfordi,Abies amabilis,Aa calceata,Eurycea waterlooensis
1,Ochotona turuchanensis,Abies balsamea,Aa mandonii,Plethodon chlorobryonis
2,Dasypus novemcinctus,Abies bracteata,Aa matthewsii,Desmognathus apalachicolae
3,Dasypus novemcinctus,Abies concolor,Abarema abbottii,Anaxyrus nelsoni
4,Dasypus novemcinctus,Abies fraseri,Abarema adenophora,Lithobates catesbeianus

In [7]:
# create a list of distinct latin names

little_names = df["little"].unique()

iucn_names = df["iucn"].unique()

jann_names = df["jann"].unique()

gap_names = df["gap"].unique()

In [8]:
# drop missing values from latin_names

little_names = pd.DataFrame(little_names).dropna()

iucn_names = pd.DataFrame(iucn_names).dropna()

jann_names = pd.DataFrame(jann_names).dropna()

gap_names = pd.DataFrame(gap_names).dropna()

In [10]:
# combine dataframes into single list of names and find unique values

names = pd.concat([gap_names, iucn_names])

names = names.drop_duplicates()

names = names[0].tolist()

In [ ]:
# 70% overlap between little and jann
# 4% overlap between little and iucn
# 70% overlap between jann and iucn
# 72% overlap between gap and iucn (checked mammals only)