In [ ]:
# compare species lists from different sources to see overlap and which ones to use where.

import geopandas as gpd

import rioxarray
import xarray as xr

import pandas as pd

In [ ]:
# read csv to variable little

little = pd.read_csv(
    "/media/muskrat/T7 Shield/eco_data/v3/native/little/7445016/wpetry/USTreeAtlas-v1.0/wpetry-USTreeAtlas-4999258/Little_datatable.csv"
)

In [ ]:
little.head()

In [ ]:
jann = pd.read_csv(
    "/media/muskrat/T7 Shield/eco_data/v3/native/Jann/basic-extract/metadata_default.csv"
)

In [ ]:
jann.head()

In [ ]:
zip = "/media/muskrat/T7 Shield/eco_data/v3/native/IUCN/MAMMALS.zip"

iucn = gpd.read_file(zip)

In [ ]:
iucn.head()

In [ ]:
gap = pd.read_csv(
    "/media/muskrat/T7 Shield/eco_data/v3/native/GAP/U_S_GeologicalS (1)/ScienceBaseHabMapCSV_20190410.csv"
)

In [ ]:
gap.head()

In [ ]:
fhwa_excel = pd.read_excel(
    "/media/muskrat/T7 Shield/eco_data/v3/native/FHWA_ERA/ERAtool_AllEcoregionPlantExport.xlsx",
    sheet_name=None,
)

In [ ]:
# create list of keys of fhwa

keys = list(fhwa_excel.keys())

keys

In [ ]:
# remove first item from list of keys

keys.pop(0)

keys

In [ ]:
# for each key in keys, create new dataframe with columns Scientific Name and Common Namefrom fhwa[key]
fhwa = pd.DataFrame()

for key in keys:
    fhwa = pd.concat([fhwa, fhwa_excel[key][["Scientific Name", "Common Name"]]])


# print(fhwa[keys[1]].keys()[2])

In [ ]:
fhwa = fhwa.drop_duplicates()

In [ ]:
fhwa

In [ ]:
fhwa = fhwa.rename(
    columns={"Scientific Name": "scientific_name", "Common Name": "common_name"}
)

In [ ]:
fhwa

In [ ]:
# create new dataframe with a column for sci_name from iucn, a Latin Name from little, and scientificname from jann

df = pd.DataFrame(
    {
        "iucn": iucn["sci_name"],
        "little": little["Latin Name"],
        "jann": jann["scientificname"],
        "gap": gap["scientific_name"],
    }
)
df.head()

In [ ]:
# create a list of distinct latin names

little_names = df["little"].unique()

iucn_names = df["iucn"].unique()

jann_names = df["jann"].unique()

gap_names = df["gap"].unique()

In [ ]:
fhwa_names = fhwa["scientific_name"].unique()

In [ ]:
jann_names = jann["scientificname"].unique()

In [ ]:
little_names = little["Latin Name"].unique()

In [ ]:
# drop missing values from latin_names

little_names = pd.DataFrame(little_names).dropna()

# iucn_names = pd.DataFrame(iucn_names).dropna()

jann_names = pd.DataFrame(jann_names).dropna()

# gap_names = pd.DataFrame(gap_names).dropna()

In [ ]:
fhwa_names = pd.DataFrame(fhwa_names).dropna()

In [ ]:
# combine dataframes into single list of names and find unique values

names = pd.concat([little_names, jann_names])

names = names.drop_duplicates()

names = names[0].tolist()

In [ ]:
# MIGHT ALL BE WRONG SHOULD RECHECK
# 7% overlap between fhwa and little
# 2% overlap between fhwa and jann
# 70% overlap between little and jann
# 4% overlap between little and iucn
# 70% overlap between jann and iucn
# 72% overlap between gap and iucn (checked mammals only)