In [2]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
# pd.set_option('display.max_rows', 100)
# pd.set_option('display.max_seq_items', 100)

# 400 meter coordinate accuracy
# 1923 earliest year

In [ ]:
df_path = input("Enter the file path: ")

df = pd.read_parquet(df_path)

In [4]:
freshwater_path = input("Enter the file path: ")

freshwater = pd.read_parquet(freshwater_path)

In [5]:
df

,scientific_name,kingdom,phylum,class,order,family,genus,observed_ecoregions,rights,common_name,species_type,native_ecoregions
0,Aa achalensis,Plantae,Tracheophyta,Liliopsida,Asparagales,Orchidaceae,Aa,[515],[None],None,wildflower,None
1,Aa colombiana,Plantae,Tracheophyta,Liliopsida,Asparagales,Orchidaceae,Aa,[578],[None],None,wildflower,None
2,Aa matthewsii,Plantae,Tracheophyta,Liliopsida,Asparagales,Orchidaceae,Aa,[478],[None],None,wildflower,"[528, 576]"
3,Aa weddelliana,Plantae,Tracheophyta,Liliopsida,Asparagales,Orchidaceae,Aa,[575],[None],None,wildflower,None
4,Aaaaba fossicollis,Animalia,Arthropoda,Insecta,Coleoptera,Buprestidae,Aaaaba,[41],"[Hauke Koch, CC_BY_NC_4_0]",None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
400476,Zyzzyzus warreni,Animalia,Cnidaria,Hydrozoa,Anthoathecata,Tubulariidae,Zyzzyzus,"[877, 989, 988, 67]","[Suzan Meldonian, CC_BY_NC_4_0, carel van der ...",None,None,None
400477,spec.,Plantae,Tracheophyta,Liliopsida,Asparagales,Asparagaceae,Arthropodium,[41],[None],None,None,None
400478,spec.,Plantae,Tracheophyta,Magnoliopsida,Apiales,Apiaceae,Eryngium,[34],"[NSW Dept of Planning and Environment, CC_BY_4_0]",None,None,None
400479,spec.,Plantae,Tracheophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,[34],"[NSW National Parks and Wildlife Service, CC_B...",None,None,None
400480,spec.,Plantae,Tracheophyta,Magnoliopsida,Malvales,Malvaceae,Lasiopetalum,[68],[None],None,None,None

In [6]:
freshwater

,scientific_name,kingdom,phylum,class,order,family,genus,freshwater_ecoregions
0,Aa colombiana,Plantae,Tracheophyta,Liliopsida,Asparagales,Orchidaceae,Aa,[302]
1,Aaaaba fossicollis,Animalia,Arthropoda,Insecta,Coleoptera,Buprestidae,Aaaaba,[808]
2,Aaaba nodosus,Animalia,Arthropoda,Insecta,Coleoptera,Buprestidae,Aaaba,[807]
3,Aacanthocnema dobsoni,Animalia,Arthropoda,Insecta,Hemiptera,Triozidae,Aacanthocnema,"[810, 809]"
4,Aades cultratus,Animalia,Arthropoda,Insecta,Coleoptera,Curculionidae,Aades,"[807, 808, 810, 809]"
...,...,...,...,...,...,...,...,...
342878,Zyzzyzus warreni,Animalia,Cnidaria,Hydrozoa,Anthoathecata,Tubulariidae,Zyzzyzus,"[578, 801, 808, 156]"
342879,spec.,Plantae,Tracheophyta,Liliopsida,Asparagales,Asparagaceae,Arthropodium,[808]
342880,spec.,Plantae,Tracheophyta,Magnoliopsida,Apiales,Apiaceae,Eryngium,[807]
342881,spec.,Plantae,Tracheophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,[808]
342882,spec.,Plantae,Tracheophyta,Magnoliopsida,Malvales,Malvaceae,Lasiopetalum,[808]

In [7]:
merged = pd.merge(
    df,
    freshwater,
    how="outer",
    on=["scientific_name", "kingdom", "phylum", "class", "order", "family", "genus"],
)

In [9]:
inner = pd.merge(
    df,
    freshwater,
    how="inner",
    on=["scientific_name", "kingdom", "phylum", "class", "order", "family", "genus"],
)

In [10]:
left = pd.merge(
    df,
    freshwater,
    how="left",
    on=["scientific_name", "kingdom", "phylum", "class", "order", "family", "genus"],
)

right = pd.merge(
    df,
    freshwater,
    how="right",
    on=["scientific_name", "kingdom", "phylum", "class", "order", "family", "genus"],
)

In [11]:
# find rows in merged where observed_ecoregions is null

no_observed = merged[merged["observed_ecoregions"].isnull()]
no_observed

,scientific_name,kingdom,phylum,class,order,family,genus,observed_ecoregions,rights,common_name,species_type,native_ecoregions,freshwater_ecoregions
400481,Abapeba lacertosa,Animalia,Arthropoda,Arachnida,Araneae,Corinnidae,Abapeba,NaN,NaN,NaN,NaN,NaN,[304]
400482,Aberrasine dingjiai,Animalia,Arthropoda,Insecta,Lepidoptera,Erebidae,Aberrasine,NaN,NaN,NaN,NaN,NaN,[758]
400483,Abralia andamanica,Animalia,Mollusca,Cephalopoda,Oegopsida,Enoploteuthidae,Abralia,NaN,NaN,NaN,NaN,NaN,[748]
400484,Abralia veranyi,Animalia,Mollusca,Cephalopoda,Oegopsida,Enoploteuthidae,Abralia,NaN,NaN,NaN,NaN,NaN,[176]
400485,Acacia floribunda X longifolia s.l.,Plantae,Tracheophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,NaN,NaN,NaN,NaN,NaN,[809]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
403117,Zoropsis oertzeni,Animalia,Arthropoda,Arachnida,Araneae,Zoropsidae,Zoropsis,NaN,NaN,NaN,NaN,NaN,[419]
403118,Zosterops rotensis,Animalia,Chordata,Aves,Passeriformes,Zosteropidae,Zosterops,NaN,NaN,NaN,NaN,NaN,[412]
403119,Zosterops tetiparius,Animalia,Chordata,Aves,Passeriformes,Zosteropidae,Zosterops,NaN,NaN,NaN,NaN,NaN,[818]
403120,Zygia engelsingii,Plantae,Tracheophyta,Magnoliopsida,Fabales,Fabaceae,Zygia,NaN,NaN,NaN,NaN,NaN,[206]
403121,Zygopleurage zygospora,Fungi,Ascomycota,Sordariomycetes,Sordariales,Neoschizotheciaceae,Zygopleurage,NaN,NaN,NaN,NaN,NaN,[406]

In [12]:
duplicates = merged[merged.duplicated(["scientific_name"], keep=False)]
duplicates

,scientific_name,kingdom,phylum,class,order,family,genus,observed_ecoregions,rights,common_name,species_type,native_ecoregions,freshwater_ecoregions
84,Abalistes filamentosus,Animalia,Chordata,Teleostei,Tetraodontiformes,Balistidae,Abalistes,[948],[None],None,None,None,NaN
85,Abalistes filamentosus,Animalia,Chordata,None,Tetraodontiformes,Balistidae,Abalistes,"[948, 825, 935, 247, 1080]","[None, Diveboard, CC_BY_NC_4_0, Diveboard, CC_...",Hairfin Triggerfish,fish,None,"[734, 527, 722]"
87,Abalistes stellatus,Animalia,Chordata,Teleostei,Tetraodontiformes,Balistidae,Abalistes,"[946, 947, 945, 948, 1077, 960, 1074, 943, 953]","[None, None, None, None, None, None, None, Non...",None,None,None,NaN
88,Abalistes stellatus,Animalia,Chordata,None,Tetraodontiformes,Balistidae,Abalistes,"[947, 946, 1074, 945, 948, 935, 17, 930, 890, ...","[None, None, None, None, None, uwkwaj, CC_BY_N...",Starry Triggerfish,fish,None,"[758, 805, 744, 567, 443, 802, 734, 748, 820, ..."
317,Ablabys taenianotus,Animalia,Chordata,Teleostei,Perciformes,Tetrarogidae,Ablabys,[14],"[mscott, CC_BY_NC_4_0]",None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
402969,Tretanorhinus mocquardi,Animalia,Chordata,Squamata,None,Colubridae,Tretanorhinus,NaN,NaN,NaN,NaN,NaN,[301]
403007,Tropheops macrophthalmus,Animalia,Chordata,None,Perciformes,Cichlidae,Tropheops,NaN,NaN,NaN,NaN,NaN,[559]
403008,Tropheus moorii,Animalia,Chordata,None,Perciformes,Cichlidae,Tropheus,NaN,NaN,NaN,NaN,NaN,[542]
403022,Tylochromis polylepis,Animalia,Chordata,None,Perciformes,Cichlidae,Tylochromis,NaN,NaN,NaN,NaN,NaN,[542]
403107,Zenarchopterus striga,Animalia,Chordata,None,Beloniformes,Zenarchopteridae,Zenarchopterus,NaN,NaN,NaN,NaN,NaN,[763]

In [ ]:
left.to_parquet(
    "/media/muskrat/T7 Shield/eco_data/v4/occurences/step_4/processing/step_2/merge/with_freshwater.parquet"
)

In [ ]:
merged.to_parquet(
    "/media/muskrat/T7 Shield/eco_data/v4/occurences/step_4/processing/step_2/merge/with_freshwater_plus_no_observed.parquet"
)