In [1]:
import pandas as pd
import numpy as np
import vaex

pd.set_option("display.max_columns", None)
# pd.set_option('display.max_rows', 100)
# pd.set_option('display.max_seq_items', 100)

# 400 meter coordinate accuracy
# 1923 earliest year

In [2]:
# read in gbif_essential
df_path = input("Enter the file path: ")

df = vaex.open(df_path)

In [ ]:
df

In [ ]:
# count the number of na values in column species
species_na = df["species"].isna().sum()

latitude_na = df["decimalLatitude"].isna().sum()

longitude_na = df["decimalLongitude"].isna().sum()

In [3]:
# remove rows in df where species is NA
df = df.dropna(column_names=["species", "decimalLatitude", "decimalLongitude"])

In [ ]:
df

In [ ]:
# recount the number of na values in column species
species_na = df["species"].isna().sum()

latitude_na = df["decimalLatitude"].isna().sum()

longitude_na = df["decimalLongitude"].isna().sum()

In [3]:
# find unique species names in df
species_unique = df["species"].unique()

In [ ]:
# change lat from string to float
df["decimalLatitude"] = df["decimalLatitude"].astype("float32")

In [ ]:
# used to check decimal latitudes are all numbers
max_lat = df["decimalLatitude"].max()

min_lat = df["decimalLatitude"].min()

In [ ]:
# change long from string to float
df["decimalLongitude"] = df["decimalLongitude"].astype("float32")

In [ ]:
# used to check decimal longitudes are all numbers
max_long = df["decimalLongitude"].max()

min_long = df["decimalLongitude"].min()

In [10]:
# find number of words in the species column of df. CRASHES LARGE DATASETS
# species_words = df["species"].to_numpy()


# species_values = np.array([len(word.split()) for word in species_words])

# find the max value in species_values
# max_value = np.max(species_values)

# or do on species_unique
species_values = np.array([len(word.split()) for word in species_unique])

# find the max value in species_values
max_value = np.max(species_values)

In [7]:
# if value at index i in species_values is greater than 2, add the value at the same index in species_unique to a new list
species_2 = []
for i in range(len(species_values)):
    if species_values[i] > 2:
        species_2.append(species_unique[i])

In [8]:
# remove values from species that are greater than 2

for i in range(len(species_2)):
    df = df[df.species != species_2[i]]

In [3]:
# recheck
species_unique = df["species"].unique()

In [ ]:
species_values = np.array([len(word.split()) for word in species_unique])


max_value = np.max(species_values)

In [ ]:
# REMOVE VALUES FROM SPECIES WHOSE SCIENTIFIC NAME HAS A 1 CHARACTER WORD AS SECOND WORD

# use regex to determine if second word in string is 1 character long
# \b(\w+)\s(\w{1})$


# CHECK FOR NON LETTER CHARACTERS IN SCIENTIFIC NAME AND COMMON NAME (AND REMOVE?)

# [^A-Za-z\s] (possibly exlude dash as well by adding - after s in regex)
# also specifically check for [] and () in common names
# [[\[\]()]

# CHECK FOR AND REMOVE? SCIENTIFIC NAME THAT CONTAINS SP- IN IT
# sp-

In [ ]:
# check for strange x at beginning of species names and remove if necessary

# df = df[
#     ~df.species.isin(["×Elyhordeum schaackianum", "×Elyleymus aleuticus"])
# ]

In [ ]:
df

In [ ]:
# read cleaned df into a parquet file where user can input the file path
df_clean_path = input("Enter the file path: ")
df.export_parquet(df_clean_path)

# write df to parquet file using pandas to_parquet
# df.to_parquet(df_clean_path)